* {
    margin: 0;
    padding: 0;
  
}

.body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}   

.header {
    background-color: #1F2937;
    color: white; 
    margin: 0;
    padding: 16px 128px;
    display: flex;
    justify-content: space-between;
    
}



.title {
    margin: 32px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 12px;
    margin: 8px;
  
}

.box{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.block{
    display: flex;
    height: 128px;
    width: 128px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 5px;
}

.page-one{
    background-color: #1F2937;
    color: white;
    padding: 128px 128px; 
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.body-page-one{
    display: flex;
    flex-direction: column;
}
.image-place {
    background-color: grey;
    height: 300px;
    width: 600px;
}
.left-heading{
    display: flex;
    flex-direction: column;

}
.page-two{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 128px;
    flex-direction: column;
    padding-top: 16px;
}

.page-three{
    background-color: #E5E7EB;
    padding: 64px 128px;
    display: flex;

    flex-direction: column;
  
}

.page-four{
    background-color: #3882F6;
    color: white;
    margin: 64px 128px;
    padding: 32px 128px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    background-color: #1F2937;
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-body{
    color: #E5E7EB;
    font-size: 18px;
}

.footer-title{
    font-size: 24px;
}

.footer-button, .header-button{
    background-color: #3882F6;
    border-radius: 5px;
    padding: 8px 32px;
    color: white;
    font-size: large;
}

.header-button{
    border-color: #3882F6;
    width: fit-content;
    margin-top: 8px;
}

.footer-button {
    border-color: white;
}

.subtext-page-three{
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: 900;
    font-size: 16px;
  
}

.body-page-three{
    font-size: 36px;
    color: grey;
    font-style: light-italic;
}
 